mixin announcementBlock(data)
	div(class="announcement-div")
		
		div("announcement-main-div")
			h2(class="announcement-title")=data.title
			
			//-Displays as rendered html
			-var htmlContent = data.content
			p(class="announcement-content") !{htmlContent}
			
		if(view == 'admin')
			div(class="modify-buttons")
				-var deleteButtonId = data.id + "-delete-button"
				button(id=deleteButtonId class="delete-button" onclick="deleteClicked(this)") Delete
			
	div(class="announcement-footer-div")
		-var announcementLabel = "Posted on " + data.date + " by " + data.first_name + " " + data.last_name
		label(class="announcement-date-label")=announcementLabel
		
		
mixin adminAnnouncementBlock(data)
		+announcementBlock(data)
		
		
if(view == 'student' || view == 'guest')
	div(id="announcements-div")
		each val in announcements
			+announcementBlock(val)
			
else if(view == 'admin')
	div(id="announcements-div")
		div(id="announcements-add-button-div" class="add-content")
			h3(id="add-announcement-status" class="status-message")=addAnnouncementStatus
			
			button(id="show-add-form-button" class="add-button add-announcement") Make Announcement
		
		div(id="add-announcement-form")
			form(id="add-course-link-form" action="/add-announcement" method="POST" novalidate)
				label(id="add-announcement-title-label" class="add-form-label")
					strong Title
					
				input(id="add-announcement-title" type="text" name="announcement-title" size="30" placeholder="Title" value=announcementTitle required)
			
				label(id="add-announcement-content-label" class="add-form-label")
					strong Announcement
					
				textarea(id="add-announcement-content" name="announcement-content" cols="100" rows="10" placeholder="Announcement" value=announcementContent required)
				
				input(id="add-announcement-submit" class="input-button submit-button" type="submit" value="Submit")
				
				button(id="hide-add-form-button" class="cancel-button") Cancel
					
		
		each val in announcements
			+adminAnnouncementBlock(val)
	
	script.
		$("#add-announcement-content").on('load', function() {
			tinymce.execCommand('mceAddControl', false, 'add-announcement-content');
		});
		
		$(document).ready(function() {
		
		
			//-form hidden by default
			$("#add-announcement-form").toggle();
			
			//-add form submit as ajax call
			$("#add-announcement-form").submit(function(e) {
				e.preventDefault();
			
				var inputs = $("#add-announcement-form :input");
				
				$.ajax({
					url: "/add-announcement",
					type: "POST",
					dataType: "html",
					
					data: inputs,
					
					success: function(data) {
						$("#announcements-content").html(data);
						location.reload(true);
					},
					
					//re-add rich text area to form
					complete: function() {
						tinymce.execCommand('mceAddControl', false, 'add-announcement-content');
					}
				
				});
			});
			
			//-these two are to show and hide the add form
			$("#show-add-form-button").click(function() {
				$("#add-announcement-form").toggle();
				
				$("#show-add-form-button").toggle();
			
				return false;
			});
			
			$("#hide-add-form-button").click(function() {
				$("#add-announcement-form").toggle();
				
				$("#show-add-form-button").toggle();
				
				return false;
			});
			
			return false;
		}); //end document.ready
		
		//called when a delete button is clicked
		function deleteClicked(button) {
			var splitString = button.id.split("-");
			var clickedId = splitString[0];
			
			var confirm = window.confirm("Are you sure you want to delete this announcement?");
			
			if(confirm == true) {
				$.ajax({
					url: "/delete-announcements/" + clickedId,
					type: "DELETE",
					dataType: "html",
					
					success: function(data) {
						$("#announcements-content").html(data);
						location.reload(true);
					},
					
					//re-add rich text area to form
					complete: function() {
						tinymce.execCommand('mceAddControl', false, 'add-announcement-content');
					}
				
				});
			}
				
			return false;
		}
		
		//tinymce init callback (do nothing)
		function load_form_contents(editor) {
			//Do nothing
		}