mixin booksRow(data)
	div(books-row-div)
		-var bookId = data.id
		-var rowId = data.id + "-table-row";
		tr(id=rowId)
			td=data.title
			td=data.genre
			td=data.author_first
			td=data.author_last
			td=data.average
			td
				-var link = "/Books/" + bookId
				a(href=link) Reviews

div(id="books-content-div")

	//-part of page that everyone sees (table)
	div(id="books-table-div")
		table(id="books-table")
			caption Book Reviews
			thead
				tr(class="table-header")
					th Book
					th Genre
					th Author (First)
					th Author (Last)
					th Score
					th Reviews
			
			tbody
				each val in books
					+booksRow(val)
					
	script.
		
		$(document).ready(function() {
			if($("tbody").find("tr").length > 0) {
				$("#books-table").tablesorter({
					sortList: [[4,1]]
				});
			}
			
			$("#review-text").on('load', function() {
				tinymce.execCommand('mceAddControl', false, 'review-text');
			});
			
			//-form hidden by default
			$("#add-review-form-div").toggle();
			
			//-add form submit as ajax call
			$("#add-review-form").submit(function(e) {
				e.preventDefault();
			
				var inputs = $("#add-review-form :input");
				
				$.ajax({
					url: "/add-review",
					type: "POST",
					dataType: "html",
					
					data: inputs,
					
					success: function(data) {
						$("#books-content").html(data);
						location.reload(true);
						
						$("#books-table").trigger("update");
						var sorting = [4,1];
						$("#books-table").trigger("sorton", [sorting]);
					},
					
					//re-add rich text area to form
					complete: function() {
						tinymce.execCommand('mceAddControl', false, 'review-text');
					}
				
				});
			});
			
			//-these two are to show and hide the add form
			$("#show-add-form-button").click(function() {
				$("#add-review-form-div").toggle();
				
				$("#show-add-form-button").toggle();
			
				return false;
			});
			
			$("#hide-add-form-button").click(function() {
				$("#add-review-form-div").toggle();
				
				$("#show-add-form-button").toggle();
				
				return false;
			});
			
			return false;
		}); //end document.ready
		
		//tinymce init callback
		function load_form_contents(editor) {
			$.ajax({
				url: "/static/forms/BookReviewForm.html",
				dataType: "html",
				
				success: function(data) {
					editor.setContent("<span>" + data + "</span>");
				}
			
			});
		}

	