mixin reviewsRow(data)
	div(reviews-row-div)
		-var reviewId = data.rid
		-var rowId = reviewId + "-table-row";
		tr(id=rowId)
			td=data.first
			td=data.last
			td=data.teacher
			td=data.hour
			td=data.date
			td
				-var link = "/Reviews/" + data.rid
				a(href=link target="_blank")=data.title
				
div(id="reviewslist-content-div")
	//-have add review form and related scripts only for admin and student
	if(view == 'admin' || view == 'student')
		div(id="add-review-div")
			h3(id="add-review-status" class="status-message")=addReviewStatus
		
			div(id="review-add-button-div" class="add-content add-review")
				button(id="show-add-form-button" class="add-button") Add Review
				
			div(id="add-review-form-div")
				form(id="add-review-form" action="/add-review" method="POST" novalidate)
					label(class="add-form-label")
						strong Title
					input(id="add-review-title" name="book-title" type="text" size="30" placeholder="Title" required)
					
					label(class="add-form-label")
						strong Author
					input(id="add-review-first" name="author-first" type="text" size="30" placeholder="First Name" required)
					input(id="add-review-last" name="author-last" type="text" size="30" placeholder="Last Name" required)
					
					label(class="add-form-label")
						strong Genre
					input(id="add-review-genre" name="book-genre" type="text" size="30" placeholder="Genre" required)
					
					label(class="add-form-label")
						strong Pages
					input(id="add-review-pages" name="book-pages" type="text" size="30" placeholder="# of Pages" required)
					
					label(id="add-review-score-label" class="add-form-label")
						strong Score
					select(id="add-review-score" name="review-score" required)
						option(value="") -
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
						option(value="4") 4
						option(value="5") 5
						option(value="6") 6
						option(value="7") 7
						option(value="8") 8
						option(value="9") 9
						option(value="10") 10
					
					label(id="add-review-content-label" class="add-form-label")
						strong Review (Please fill out the document)	
					textarea(id="review-text" name="review-content" cols="100" rows="10" placeholder="Review" value=announcementContent required)
					
					input(id="add-review-submit" class="input-button submit-button" type="submit" value="Submit")
					button(id="hide-add-form-button" class="cancel-button") Cancel
					
					
					
	//-everyone see book info		
	div(id="reviews-table-div")
		table(id="reviews-table")
			caption Reviews of this Book
			thead
				tr(class="table-header")
					th First Name
					th Last Name
					th Teacher
					th Hour
					th Date
					th Book
			
			tbody
				each val in reviews
					+reviewsRow(val)
				
	script.
		
		$(document).ready(function() {
			if($("tbody").find("tr").length > 0) {
				$("#reviews-table").tablesorter({
					sortList: [[4,1]]
				});
			}
			
			$("#review-text").on('load', function() {
				tinymce.execCommand('mceAddControl', false, 'review-text');
			});
			
			//-form hidden by default
			$("#add-review-form-div").toggle();
			
			//-add form submit as ajax call
			$("#add-review-form").submit(function(e) {
				e.preventDefault();
			
				var inputs = $("#add-review-form :input");
				
				$.ajax({
					url: "/add-review",
					type: "POST",
					dataType: "html",
					
					data: inputs,
					
					success: function(data) {
						$("#reviewslist-content").html(data);
						location.reload(true);
						
						$("#reviews-table").trigger("update");
						var sorting = [4,1];
						$("#reviews-table").trigger("sorton", [sorting]);
					},
					
					//re-add rich text area to form
					complete: function() {
						tinymce.execCommand('mceAddControl', false, 'review-text');
					}
				
				});
			});
			
			//-these two are to show and hide the add form
			$("#show-add-form-button").click(function() {
				$("#add-review-form-div").toggle();
				
				$("#show-add-form-button").toggle();
			
				return false;
			});
			
			$("#hide-add-form-button").click(function() {
				$("#add-review-form-div").toggle();
				
				$("#show-add-form-button").toggle();
				
				return false;
			});
			
			return false;
		}); //end document.ready
		
		//tinymce init callback
		function load_form_contents(editor) {
			$.ajax({
				url: "/static/forms/BookReviewForm.html",
				dataType: "html",
				
				success: function(data) {
					editor.setContent("<span>" + data + "</span>");
				}
			
			});
		}