doctype html
html

	head
		title=titleString
		
		//-CSS
		link(href="/static/style.css" type="text/css" rel="stylesheet")
		
		//include jquery
		script(src='http://code.jquery.com/jquery-1.11.1.js')
		
		//include hash function
		script(type="text/javascript" src="http://cryptojs.altervista.org/api/functions_cryptography.js")
		
	body
		div(id="wrap")
			div(id="signup-form-div")
				form(id="signup-form" action="/signup" method="POST")
					fieldset(id="signup-form-fieldset")
						legend Create Account
						
						p * indicates required field
						
						div(id="signup-form-account")
							
							label(id="username-label" class="signup-form-label")
								strong Choose a username *
						
							input(id="username-form" type="text" name="username-form" size="30" placeholder="Username" value=usernameValue required)
							
							br
							label(id="password-label" class="signup-form-label")
								strong Create password *
							input(id="password-form" type="password" name="password-form" size="30" placeholder="Password" required)
							
							br
							label(id="password-confirm-label" class="signup-form-label")
								strong Confirm password *
							input(id="password-confirm-form" type="password" name="password-confirm-form" size="30" placeholder="Password Confirm" required)
							
							p(id="account-status" class="status-message")=accountStatus 
							
						div(id="signup-form-name")
						
							label(id="name-label" class="signup-form-label")
								strong Name *
								
							input(id="first-name" type="text" name="first-name" size="30" placeholder="First" value=firstValue required)
							input(id="last-name" type="text" name="last-name" size="30" placeholder="Last" value=lastValue required)
							
							p(id="name-status" class="status-message")=nameStatus
							
						div("id=signup-form-info")
							label(class="signup-form-label")
								strong Teacher *
							select(id="teacher-select" name="teacher")
								option(value="") -
								each val in teachers
									option(value=val.id)=val.last_name
							
							label(class="signup-form-label")
								strong Hour *
							select(id="hour-select" name="hour" required)
								option(value="") -
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
								option(value="6") 6
								option(value="7") 7
								option(value="8") 8
						
							label(id="name-label" class="signup-form-label")
								strong Contact
								
							input(id="email-input" type="text" name="email-input" size="50" placeholder="Email" value=emailValue)
			
						div(id="signup-form-key")
							
							label(id="access-code-label" class="signup-form-label")
								strong Access Code *
								
							input(id="access-code-input" type="text" name="access-code-input" size="30" placeholder="Access Code" value=accessCodeValue required)
							
							p(id="access-code-status" class="status-message")=accessCodeStatus
						
						input(id="signup-form-submit" class="input-button submit-button" type="submit" value="Submit")
						
						p(id="form-status" class="status-message")=formStatus
			
			div(id="content")
				a(href="/") Back
			
			
			
		script.
			/*
			$(document).ready(function() {
				//allows clicking enter to simulate clicking "Log In"
				$("input").keydown(function(event) {
					if(event.keyCode == 13) {
						$("#login-form").submit();
					}
				});
				
				$("#signup-form").submit(function(e) {
					var hash = new Crypt();
					var password = $("#password-form").val();
					var confirmPass = $("#password-confirm-form").val();
					
					var hashedPass = hash.HASH.md5(password);
					var hashedConfirmPass = hash.HASH.md5(confirmPass);
				
					$("#password-form").val(hashedPass);
					$("#password-confirm-form").val(hashedConfirmPass);
					
				});
			}); //end document ready

			*/			